<div class="row">
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Dados</h5>
      </div>
      <div class="card-user">
        <form>
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Nome Completo</label>
                <input type="text" class="form-control" placeholder="Nome Completo" 
                value="Matheus Silva Corradi">
              </div>
            </div>
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Email" 
                value="matheus.corradi@aluno.ufop.edu.br">
              </div>
            </div>
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Senha</label>
                <div class="alterar-senha">
                  <button type="submit" class="alterar-senha btn-round">Alterar Senha</button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-12 atualizar-dados">
              <button type="submit" class="atualizar-dados btn-round">Alterar Dados</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
