<div class="row">
  <div class="col-12">
    <div class="content-card">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac
        posuere quam, sed lacinia urna. Nullam ut dolor in augue tristique
        placerat. Duis gravida sem nec mattis pulvinar. Vestibulum ante
        ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        curae; Morbi fringilla aliquet porttitor. Nunc pellentesque
        vehicula ipsum, a suscipit lacus interdum a. Cras dui mi,
        rhoncus aliquet vehicula a, eleifend vitae neque. Aenean
        pellentesque lacus et eros euismod congue. Maecenas ipsum est,
        blandit id luctus commodo, luctus sed enim.
      </p>

      <p>
        Curabitur rutrum et lorem fringilla venenatis. Phasellus justo elit,
        tempor ac quam ut, varius feugiat orci. Class aptent taciti sociosqu
        ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce
        pretium eleifend est sed bibendum. Nulla facilisi. Suspendisse
        potenti. Fusce a vulputate dolor. Phasellus semper risus nulla,
        elementum pretium leo dapibus non. Cras consectetur arcu eu tortor
        scelerisque eleifend. Vestibulum velit nulla, iaculis sollicitudin
        cursus in, commodo ac urna. Mauris augue libero, vestibulum sit amet
        felis porttitor, ornare bibendum dolor. Vivamus vulputate volutpat
        volutpat. Ut nec lectus mi. Vestibulum eget luctus mauris.
      </p>

      <p>
        Phasellus convallis semper turpis. Etiam condimentum, dolor sed
        consequat rutrum, risus lorem interdum metus, sit amet tristique
        quam risus vulputate risus. Proin gravida id sem at efficitur. Sed
        semper neque eget lorem dapibus, ut interdum erat fringilla. Nunc
        dui libero, tincidunt eu interdum ut, bibendum ullamcorper magna.
        Donec at accumsan mauris. Nullam porta diam nec efficitur vehicula.
        In consectetur leo ut ante facilisis ultricies. Fusce ut diam vitae
        est aliquam commodo id non neque. Pellentesque vel ipsum in leo
        aliquam aliquet quis et erat. In eget libero vitae dui tincidunt
        consectetur vitae sit amet urna. Vestibulum suscipit et velit nec
        tincidunt.
      </p>
    </div>
  </div>
</div>

<p class="subsection-title">Documentação</p>
<div class="row docs">
  <div class="col-sm-6 col-md-3 mb-4">
    <div class="card">
      <h6 class="card-title">Lorem ipsum dolor</h6>
      <button class="btn-doc">Fechar</button>
    </div>
  </div>

  <div class="col-sm-6 col-md-3 mb-4">
    <div class="card">
      <h6 class="card-title">Lorem ipsum dolor</h6>
      <button class="btn-doc">Fechar</button>
    </div>
  </div>

  <div class="col-sm-6 col-md-3 mb-4">
    <div class="card">
      <h6 class="card-title">Lorem ipsum dolor</h6>
      <button class="btn-doc">Fechar</button>
    </div>
  </div>

  <div class="col-sm-6 col-md-3 mb-4">
    <div class="card">
      <h6 class="card-title">Lorem ipsum dolor</h6>
      <button class="btn-doc">Fechar</button>
    </div>
  </div>
</div>