<div class="sidebar-wrapper">
  <div class="logo">
    <a href="/#/busca-site" class="logo">
      <img src="assets/img/logo-navbar.png">
    </a>
  </div>
  
  <div class="logo-divider"></div>
  
  <ul class="nav">
    <li
      *ngFor="let menuItem of menuItems"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a
        [routerLink]="[menuItem.path]"
        [ngClass]="{ 'btn-busca': menuItem.title === 'Busque seu site' }"
      >
        <i *ngIf="menuItem.icon" class="nc-icon {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>

  <div class="logout-container">
    <button class="btn-logout" (click)="logout()">
      Sair
    </button>
  </div>
</div>
