<div class="cadastro-container">
  <div class="logo">
    <img src="../../../assets/img/logo.png" alt="Site Review">
  </div>

  <input type="text" [(ngModel)]="siteUrl" placeholder="Digite seu primeiro nome" />
  <input type="text" [(ngModel)]="siteUrl" placeholder="Digite seu sobrenome" />
  <input type="text" [(ngModel)]="siteUrl" placeholder="Digite seu melhor email" />
  <input type="text" [(ngModel)]="siteUrl" placeholder="Crie sua senha" />
  <input type="text" [(ngModel)]="siteUrl" placeholder="Confirme sua senha" />

  <button type="submit" class="btn-primary">
    Criar Cadastro
  </button>

  <div class="rodape">
    *Ao clicar em criar cadastro, você confirma a utilização de seus dados.
  </div>
</div>